[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pytest = "*"
faker = "*"
gunicorn = "*"
psycopg2-binary = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"

[requires]
python_version = "3.8.13"
